html, body {
    margin: 0;
    padding: 0;
    background-color: #f2e2c4;
}

header {
    background-color: #2b3640;
    color: #f2e2c4;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav {
    margin: 0;
    padding: 20px 0;
}

nav li {
    color: #f2e2c4;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    width: 80px;
    transition: top 0.4s ease;
}

nav li:hover {
    color: #d9b391;
    cursor: pointer;
    position: relative;
    top: -2px;
}

main {
    text-align: center;
    position: relative;
    top: 80px;
}

main h1 {
    color: #2b3640;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 70px;
    margin-top: 0px;
    padding-top: 80px;
    margin-bottom: 80px;
    text-transform: uppercase;
}

footer {
    background-color: #2b3640;
    color: #f2e2c4;
    padding: 30px 0;
}

footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.jumbotron {
  height: 800px;
  background-image: url("https://content.codecademy.com/projects/broadway/bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-main {
  background-color: #2b3640;
  color: #f2e2c4;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  border: 2px solid transparent;
}

.btn-main:hover {
  background-color: #d9b391;
  color: #2b3640;
  border: 2px solid #2b3640;
}

.btn-learn {
  background-color: #f2e2c4;
  color: #2b3640;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #2b3640;
}

.btn-learn:hover {
  background-color: #2b3640;
  color: #d9b391;
  border: 2px solid #d9b391;
}

.supporting {
  padding-top: 110px;
  padding-bottom: 40px;
}

.supporting .col {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  display: block;
  height: 250px;
  width: 400px;
  padding: 20px;
  margin: 0 auto;
}

.supporting img {
  height: 36px;
}

.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.supporting a {
  background-color: #f2e2c4;
  color: #2b3640;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #2b3640;
}

@media (max-width: 500px) {
  main h1 {
    font-size: 50px;
    padding: 0 40px;
  }

  .supporting .col {
    width: 100%;
  }
}